<!DOCTYPE html>
<html lang="en" data-ng-app>
<head>
	<meta charset="UTF-8">
	<title>ng-app指令</title>
</head>
<body>
<!-- 	angular找到第一个ng-app过后就不会再找了
	 -->	
	<div ng-app="myApp1" ng-controller="App1Controller">
		<input type="button" value="按钮1" ng-click="do1()">
	</div>
	<div ng-app="myApp2" ng-controller="App2Controller">
		<input type="button" value="按钮2" ng-click="do2()">
	</div>
	<script src="bower_components/angular/angular.js"></script>
	<script>
		/**
		*  Module
		*
		* Description
		*/
		var module = angular.module('myApp1', []);
		module.controller('App1Controller', ['$scope', function($scope){
			$scope.do1 = function(){
				console.log('1111');
			}
		}])
		var module2 = angular.module('myApp2', []);
		module2.controller('App2Controller', ['$scope', function($scope){
			$scope.do2 = function(){
				console.log('2222');
			}
		}])
		//手动的让第二个div被myApp2管理
		angular.bootstrap(document.querySelector('[ng-app="myApp2"]'), ['myApp2'])
	</script>
</body>
</html>