<!DOCTYPE html>
<html >
<head lang="en">
    <meta charset="UTF-8">
</head>
<body ng-app="myApp"> 
    <table ng-controller="HelloController" border="1">
        <tr>
            <td>用户名</td>
            <td><input type="text" name="" ng-model="user.username"></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="password" name="" ng-model="user.password"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="button" value="登录" ng-click="login()"></td>
        </tr>
        <tr>
            <td></td>
            <td>{{message}}</td>
        </tr>
    </table>
    <script src="../bower_components/angular/angular.js"></script>
    <script>
    	// 由于控制器是必须出现在某个模块下的，想创建一个控制器必先创建模块
    	var module = angular.module("myApp",[]);//返回的就是模块对象
    	// angular在执行控制器函数的时候，
    	// 会根据对象的名称（$scope）自动注入对象
    	// 根据参数名称传递对应对象，所以必须要正确的参数名称
    	// module.controller("HelloController", function($scope){
    	// 	console.log($scope);
    	// })
    	module.controller("HelloController",["$scope",function($scope){
           //   数据
            $scope.user={
                "username": "",
                "password": ""
            }
            
            
            // 行为数据
            $scope.login=function(){
                // 应为数据的变化是双向的同步，所以界面上的变化会同步到$scope.user上
                console.log($scope.user);
            }
    		// angular基本不用操作dom，如果必要，可以使用angular提供的jqlite
			//angular.element(body)
            
            // 请输入用户名 输入格式不合法
            $scope.message ='请输入用户名';
            // $scope.message取决于$scope.user
            //官方的API中提供了一个$scope.$watch方法
			$scope.$watch('user.username', function(now,old){
                // 此处当user.username发生变化时触发这个
                console.log('now is'+now);
                console.log('old is'+old);
                // if(now){
                //     if(now.length<7){
                //         $scope.message ='输入格式不合法';
                //     }else{
                //          $scope.message ='';
                //     }
                // }else{
                //     $scope.message ='请输入用户名';
                // }
            });
    	}])
    </script>
</body>
</html>